<div class="omb_login" id="registerView">
    <h3 class="omb_authTitle">Register</h3>
    <!--
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>  
        <div class="col-xs-4 col-sm-2">
            <a href="#" class="btn btn-lg btn-block omb_btn-google">
                <i class="fa fa-google-plus visible-xs"></i>
                <span class="hidden-xs">Google+</span>
            </a>
        </div>  
    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
        </div>
    </div>
    -->
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">    
            <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{input type="email" class="form-control" name="username" value=username placeholder="Email Address"}}

                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{input type="password" class="form-control" name="password" value=password placeholder="Password"}}
                </div>
                
                {{#if error}}
                <span class="help-block">
                    - {{error}}
                </span>
                {{/if}}

                {{input type="hidden" name="ref" value=ref}}

                <button class="btn btn-lg btn-primary btn-block" {{action 'register'}}>Register</button>
            </form>
        </div>
    </div>
</div>